---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Content from '../components/Content.astro';
import { fetchRSS } from '../services/blog/fetchRSS';
import { fetchQiitaArticles } from '../services/blog/fetchQiitaArticles';

const noteArticles = await fetchRSS('https://note.com/suibari/rss');
const qiitaArticles = await fetchQiitaArticles("Suibari_cha", import.meta.env.QIITA_ACCESS_TOKEN);

const blogArticles = [...noteArticles, ...qiitaArticles];
---
<Layout>
  <div class="flex flex-wrap gap-2 w-full p-2">
    {blogArticles.map((item) => (
      <div class="w-1/4 max-w-[calc(25%-0.5rem)]">
        <Content title={item.title} image={item.image} date={item.date} link={item.link} />
      </div>
    ))}
  </div>
</Layout>
