---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Content from '../components/Content.astro';
import { developments } from '../data/developments.ts';
---
<Layout>
  <div class="flex flex-wrap gap-2 w-full p-2">
    {developments.map((project) => (
      <div class="w-1/4 max-w-[calc(25%-0.5rem)]">
        <Content 
          title={project.title}
          image={project.image}
          date={project.date}
          link={project.link}
        />
      </div>
    ))}
  </div>
</Layout>
