---
import Layout from '../layouts/Layout.astro';
import Content from '../components/Content.astro';
import fetchPixivArtworks from '../services/illust/fetchPixivArtworks';

const illustrations = await fetchPixivArtworks(); // PixivのAPIからイラストデータを取得
---
<Layout>
  <h1>描いたもの一覧</h1>
  <div class="grid">
    {illustrations.map((item: { title: String; image: String; date: String; link: String; }) => (
      <Content title={item.title} image={item.image} date={item.date} link={item.link} />
    ))}
  </div>
</Layout>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* レスポンシブ対応 */
    gap: 20px;
    margin: 20px 0;
  }
</style>