---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Welcome from '../components/Welcome.astro'
import Content from '../components/Content.astro';
import Post from '../components/Post.astro';
import { fetchBlueskyPosts } from '../services/bluesky/fetchBlueskyPosts';
import { fetchRSS } from '../services/blog/fetchRSS';
import { developments } from '../data/developments';
import fetchPixivArtworks from '../services/illust/fetchPixivArtworks';
import Commits from '../components/Commits.astro';

const blueSkyFeeds = await fetchBlueskyPosts(); // Blueskyのポストデータを取得

const noteArticles = await fetchRSS('https://note.com/suibari/rss');
const developLatest = developments; // Developの最新コンテンツ
const illustLatest = await fetchPixivArtworks(); // Illustの最新コンテンツ
---
<Layout>
  <div class="relative min-h-screen bg-cover bg-center bg-fixed"
    style="transform: translateZ(0);">
    <div class="absolute inset-0 bg-[url('/images/bsky_bot_bg.png')] bg-cover bg-center bg-fixed opacity-25"
      style="transform: translateZ(0);">

    <!-- Contents -->
    <div class="relative z-10">
      <div class="flex flex-col md:flex-row w-full">
        <div class="md:w-2/3 p-4 flex items-center">
          <Welcome />
        </div>

        <div class="border-t-2 border-soft-orange mx-4 lg:hidden"></div>
        <section class="md:w-1/3 p-4">
          <h1 class="text-4xl vt323-regular mb-4 text-center md:text-left">MOODS</h1>
          <div class="flex flex-col space-y-4">
            {blueSkyFeeds.slice(0, 5).map((feed) => (
              <Post
                text={(feed.post.record as {text: string}).text}
                image={feed.post.author.avatar}
                date={(feed.post.record as {createdAt: string}).createdAt}
                link={feed.post.uri.replace('at://', 'https://bsky.app/profile/').replace('app.bsky.feed.post', 'post')}
              />
            ))}
          </div>
        </section>
      </div>

      <div class="border-t-2 border-soft-orange mx-4"></div>
      <section class="p-4">
        <h1 class="text-4xl vt323-regular mb-4 text-center md:text-left">DEVELOPMENT NEWS</h1>
        <Commits />
      </section>

      <div class="border-t-2 border-soft-orange mx-4"></div>
      <section class="p-4">
        <h1 class="text-4xl vt323-regular mb-4 text-center md:text-left">LATEST ACTIVITIES</h1>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <Content {...developLatest[0]} />
          <Content {...illustLatest[0]} />
          <Content {...noteArticles[0]} />
        </div>
      </section>
    </div>

    </div>
  </div>
</Layout>
