---
interface Props {
  title: string;
  canvasId: string;
}

const { title, canvasId } = Astro.props;
---

<div
  class="bg-navy-700 p-3 rounded-lg text-center flex-1 shadow-lg border border-navy-600"
>
  <p class="font-semibold text-text-muted mb-2">{title}</p>
  <canvas id={canvasId} class="max-w-full mx-auto"></canvas>
</div>
