<header class="sticky top-0 z-10 bg-dark-blue shadow-md">
  <nav class="flex justify-between items-center px-6 py-4">
    <div class="flex">
      <a href="/" class="text-gray-100 hover:text-blue-600 text-4xl vt323-regular">S.O.S.!!</a>
    </div>

    <div class="flex space-x-12">
      <div>
        <a href="/develop" class="text-gray-100 hover:text-blue-600">Develop</a>
      </div>
      <div>
        <a href="/illust" class="text-gray-100 hover:text-blue-600">Illust</a>
      </div>
      <div>
        <a href="/blog" class="text-gray-100 hover:text-blue-600">Blog</a>
      </div>
      <div>
        <a href="/about" class="text-gray-100 hover:text-blue-600">About</a>
      </div>
    </div>
  </nav>
</header>
