---
import SimpleIconsBluesky from "./icons/SimpleIconsBluesky.astro";
import SimpleIconsGithub from "./icons/SimpleIconsGithub.astro";
import SimpleIconsPixiv from "./icons/SimpleIconsPixiv.astro";
import ArcticonsSuzuri from "./icons/ArcticonsSuzuri.astro";
---

<div class="flex space-x-4 mt-4">
  <a href="https://bsky.app/profile/suibari.com" target="_blank" rel="noopener noreferrer" class="text-gray-800 text-xl">
    <SimpleIconsBluesky />
  </a>
  <a href="https://www.pixiv.net/users/251033" target="_blank" rel="noopener noreferrer" class="text-gray-800 text-xl">
    <SimpleIconsPixiv />
  </a>
  <a href="https://suzuri.jp/suibari" target="_blank" rel="noopener noreferrer" class="text-gray-800 text-xl">
    <ArcticonsSuzuri />
  </a>
  <a href="https://github.com/suibari" target="_blank" rel="noopener noreferrer" class="text-gray-800 text-xl">
    <SimpleIconsGithub />
  </a>
</div>
