---
import SimpleIconsBluesky from "./icons/SimpleIconsBluesky.astro";
import SimpleIconsGithub from "./icons/SimpleIconsGithub.astro";
import SimpleIconsPixiv from "./icons/SimpleIconsPixiv.astro";
import ArcticonsSuzuri from "./icons/ArcticonsSuzuri.astro";
---

<div class="flex space-x-4 mt-4">
  <a
    href="https://bsky.app/profile/suibari.com"
    target="_blank"
    rel="noopener noreferrer"
    class="text-accent-orange hover:text-white transition-colors duration-300 text-xl drop-shadow-[0_0_2px_rgba(255,159,28,0.5)]"
  >
    <SimpleIconsBluesky />
  </a>
  <a
    href="https://www.pixiv.net/users/251033"
    target="_blank"
    rel="noopener noreferrer"
    class="text-accent-orange hover:text-white transition-colors duration-300 text-xl drop-shadow-[0_0_2px_rgba(255,159,28,0.5)]"
  >
    <SimpleIconsPixiv />
  </a>
  <a
    href="https://suzuri.jp/suibari"
    target="_blank"
    rel="noopener noreferrer"
    class="text-accent-orange hover:text-white transition-colors duration-300 text-xl drop-shadow-[0_0_2px_rgba(255,159,28,0.5)]"
  >
    <ArcticonsSuzuri />
  </a>
  <a
    href="https://github.com/suibari"
    target="_blank"
    rel="noopener noreferrer"
    class="text-accent-orange hover:text-white transition-colors duration-300 text-xl drop-shadow-[0_0_2px_rgba(255,159,28,0.5)]"
  >
    <SimpleIconsGithub />
  </a>
</div>
