---
export interface Props {
  text: string;
  image?: string; // 画像は任意
  date: string; // ISO 8601形式を想定
  link: string;
}

// propsの解構
const { text, image, date, link } = Astro.props;
---

<article
  class="border border-navy-700 rounded-lg p-4 bg-navy-800 transition-shadow duration-300 hover:shadow-lg hover:shadow-navy-900/50"
>
  <a
    href={link}
    target="_blank"
    rel="noopener noreferrer"
    class="block text-inherit"
  >
    <div class="flex flex-col">
      <div class="flex items-center space-x-4">
        {
          image && (
            <img
              src={image}
              alt="Bluesky Post Image"
              class="w-12 h-12 rounded-md"
            />
          )
        }
        <p class="text-base text-main">{text}</p>
      </div>
      <time class="mt-2 text-sm text-muted self-end">
        {
          new Date(date).toLocaleString("ja-JP", {
            timeZone: "Asia/Tokyo",
            hour12: false, // 24時間形式
          })
        }
      </time>
    </div>
  </a>
</article>
