---
---
<div class="font-dot border-2 border-white bg-black text-white p-4 rounded-md mb-4 text-2xl">
  <div class="grid grid-cols-2 gap-x-4 gap-y-2">
    <p>ぜんこうていbotたん</p>
    <p>しょくぎょう：JK</p>
    <p>レベル：<span id="level">1</span></p>
  </div>
  <div class="border-t border-white my-2"></div>
  <div class="grid grid-cols-2 gap-x-4 gap-y-2">
    <p>全肯定力：<span id="affirmation-power">---</span></p>
    <p>Bluesky愛：<span id="bsky-love">---</span></p>
    <p>トーク力：<span id="talk-power">---</span></p>
    <p>かしこさ：<span id="intelligence">---</span></p>
    <p>運の良さ：<span id="luck">---</span></p>
    <p>拡散力：<span id="spread-power">---</span></p>
    <p>パリピ度：<span id="party-people-degree">---</span></p>
    <p>魔力：<span id="magic-power">---</span></p>
  </div>
</div>

<style>
  .font-dot {
    font-family: 'DotGothic16', sans-serif;
  }
</style>
