---
interface Props {
  title: string;
  value: string;
  id?: string; // Optional ID for the value element
}

const { title, value, id } = Astro.props;
---

<div class="bg-gray-100 p-3 rounded-lg text-center">
  <p class="font-semibold text-gray-700">{title}</p>
  <p id={id} class="text-xl font-bold text-blue-600">{value}</p>
</div>
