---
import SimpleIconsBluesky from "./SimpleIconsBluesky.astro";
import SimpleIconsGithub from "./SimpleIconsGithub.astro";
import SimpleIconsPixiv from "./SimpleIconsPixiv.astro";
---
<div class="flex flex-col items-start p-2">
	<h1 class="text-8xl font-bold text-gray-800 vt323-regular">
		S.O.S.!!
	</h1>
	<h2 class="text-xl dela-gothic-one-regular">
		世界を<br class="lg:hidden">
		大いに盛り上げるための<br class="lg:hidden">
		すいばり のサイト
	</h2>

	<div class="flex space-x-4 mt-4">
		<a href="https://bsky.app/profile/suibari.com" target="_blank" rel="noopener noreferrer" class="text-gray-800">
			<SimpleIconsBluesky />
		</a>
		<a href="https://www.pixiv.net/users/251033" target="_blank" rel="noopener noreferrer" class="text-gray-800">
			<SimpleIconsPixiv />
		</a>
		<a href="https://github.com/suibari" target="_blank" rel="noopener noreferrer" class="text-gray-800">
			<SimpleIconsGithub />
		</a>
	</div>
</div>
