---
import IconsSNS from "./IconsSNS.astro";
---

<div class="flex flex-col items-start p-2">
	<h1
		class="lg:text-9xl text-8xl font-bold text-accent-orange vt323-regular drop-shadow-[0_0_10px_rgba(255,107,107,0.5)]"
	>
		S.O.S.!!
	</h1>
	<h2 class="text-xl dela-gothic-one-regular text-main">
		世界を<br />
		大いに盛り上げるための<br />
		すいばり のサイト
	</h2>

	<IconsSNS />
</div>
