---
import IconsSNS from "./IconsSNS.astro";
---
<div class="flex flex-col items-start p-2">
	<h1 class="lg:text-9xl text-8xl font-bold text-gray-800 vt323-regular">
		S.O.S.!!
	</h1>
	<h2 class="text-xl dela-gothic-one-regular">
		世界を<br class="lg:hidden">
		大いに盛り上げるための<br class="lg:hidden">
		すいばり のサイト
	</h2>

	<IconsSNS />
</div>
