---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---
<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.png" type="image/png">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=VT323&family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>S.O.S.!! -Suibari Website-</title>
		<!-- OGP -->
		<meta property="og:title" content="S.O.S.!! -Suibari Website-" />
		<meta property="og:description" content="すいばりのウェブサイト" />
		<meta property="og:image" content="/ogp.png" />
		<meta property="og:url" content="https://suibari.com" /> <!-- 自身のURLに置き換えてください -->
		<meta property="og:type" content="website" />
	</head>
	<body class="m-0 w-full h-full">
		<Header />
		<slot />
		<Footer />
	</body>
</html>
